
.right {

    position:absolute;
    left:50vw;
    margin:1vw;
    font-family:'Times New Roman', Times, serif;
    font-size: 20;
      padding:1vw;
      width:45vw;
      position:absolute;
      background-color: white;
      text-align:center;
      border-radius: 3vw;
    
  }

   img{
    border-radius: 50%;
  }
  
  .left{
  margin:1vw;
  font-family:'Times New Roman', Times, serif;
  font-size: 20;
    padding:1vw;
    width:45vw;
    position:absolute;
    background-color: white;
    text-align:center;
    border-radius: 3vw;
  
  }
  
  .left h1{
    padding-bottom: 3vh;
  }
  


body{
    background-color:#E6CDCC;
    word-spacing:.1vw;
    font-size:large;
    line-height:85%;
}  
body {
    line-height: 120%;
}
h2{
    margin-top:1.3vh;
    margin-bottom:1.3vh;
}
.summary{
    margin-right:5vw;
    margin-left:5vw;
    line-height: 125%;
}
h3{
    margin-top:1.3vh;
    margin-bottom:1.3vh;
}
